.application {
  align-items: center;
  background-color: var(--paletteColor3);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.application .message--error {
  background-color: #d2abab;
  padding: 20px;
  border: 1px solid #634242;
  margin: 10px;
  border-radius: 5px;
}
.application .sign {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  padding: 70px 0 0;
  background-color: #e9ebee;
}
.application .sign input {
  width: 230px;
  height: 30px;
  margin: 0 auto 12px;
  padding: 8px 10px;
  border: 1px solid #dddfe2;
  outline: none;
  color: #1d2129;
  font-size: 17px;
}
.application .sign button {
  border: 1px solid;
  border-color: #3b6e22 #3b6e22 #2c5115;
  background: linear-gradient(#67ae55, #578843);
  background-color: #69a74e;
  box-shadow: inset 0 1px 1px #a4e388;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  padding: 0 16px;
  border-radius: 2px;
  outline: 0;
  color: #fff;
  height: 34px;
  cursor: pointer;
}
.application .navbar {
  align-items: center;
  background-color: #4267b2;
  border-bottom: #29487d;
  display: flex;
  height: 42px;
  justify-content: center;
  margin-bottom: 20px;
  padding: 0 5px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}
.application .navbar a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27px;
  margin: 0 10px;
  padding: 2px 10px;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
}
.application .navbar__status {
  align-items: center;
  background: #e9ebee;
  border: 1px solid #365899;
  border-radius: 5px;
  color: #365899;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-weight: 500;
  height: 24px;
  justify-content: space-between;
  left: 5px;
  margin-right: 5px;
  min-width: 80px;
  padding: 5px;
  position: absolute;
  top: 9px;
  user-select: none;
}
.application .navbar__status--fetching {
  background-color: #fff;
}
.application__editor textarea {
  width: 100%;
}
.application__post {
  background-color: #fff;
  border: 1px solid #e1e2e3;
  border-radius: 3px;
  margin-top: 10px;
  max-width: calc(100vw - 20px);
  padding: 12px;
  position: relative;
  transition: box-shadow 0.3s ease;
  width: 500px;
  word-wrap: break-word;
}
.application__post__user {
  text-decoration: none;
}
.application__post__user time {
  color: #90949c;
  font-size: 12px;
  top: 35px;
  cursor: pointer;
  left: 60px;
  position: absolute;
  text-decoration: none;
}
.application__post__user a {
  color: #365899;
  font-weight: 700;
  top: 15px;
  cursor: pointer;
  left: 60px;
  position: absolute;
}
.application__post p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  margin-top: 50px;
}
.application__post__actions {
  background-repeat: no-repeat;
  content: "";
  cursor: pointer;
  height: 10px;
  position: absolute;
  right: 12px;
  top: 12px;
}
.application__post__footer {
  margin-top: 50px;
  user-select: none;
}
.application__post__footer__like {
  color: #616770;
  cursor: default;
  font-size: 13px;
  font-weight: 600;
  margin-left: 6px;
  padding-left: 20px;
  padding-top: 2px;
  position: relative;
}
.application__post__footer__like:before {
  background-image: url("../theme/assets/like.png");
  background-position: 0 -18px;
  background-repeat: no-repeat;
  background-size: 18px;
  content: "";
  display: block;
  height: 18px;
  left: -2px;
  position: absolute;
  top: -1px;
  width: 18px;
}
.application__post__footer__likes {
  align-items: center;
  background-color: #f6f7f9;
  border: 1px solid #e1e2e3;
  display: flex;
  height: 30px;
  margin: 10px 0 0;
  padding-left: 30px;
  position: relative;
}
.application__post__footer__likes__counter {
  color: #365899;
  cursor: pointer;
  font-size: 13px;
}
.application__post__footer__likes__counter:before {
  background-image: url("../theme/assets/like.png");
  background-position: 0 -37px;
  background-repeat: no-repeat;
  background-size: 18px;
  content: "";
  display: block;
  height: 19px;
  left: 3px;
  position: absolute;
  top: 3px;
  width: 18px;
}
